@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>This is my home Page</h1>
    <div>
        hahaha
        <a asp-action="Index" asp-controller="Home">Trang chu</a>
    </div>
    <a asp-action="Service" asp-controller="Home">Trang Service</a>
</div>
